<h2>Liste des Eleves : </h2>
<h3>{{eleves.id}}</h3>
<h3>{{eleves.nom}}</h3>
<h3>{{eleves.prenom}}</h3>
<h3>Nombre d'eleves Commit : {{eleves.length}}</h3>

<table class='table' *ngIf='eleves.length == 2'>
  <thead>
      <tr>
          <th>ID</th>
          <th>NOM</th>
          <th>PRENOM</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor='let eleves of eleves'>
      <td>{{eleves.id}}</td>
      <td>{{eleves.nom | uppercase }}</td>
      <td>{{eleves.prenom | uppercase }}</td>
    </tr>
  </tbody>
  {{elevess.id}}
</table>